<template>
  <div v-loading="loading" style="height: 100%;">
    <div v-if="seenVideo">
      <div v-for="question in chapter.questions" :key="'QT_'+ question.id">
        <question :question-data="question" v-if="currentQuestion.id === question.id" @next-question="(data) => nextQuestion(data)"/>
      </div>
    </div>
    <div class="video-player" v-else>
      <youtube
        :video-id="videoId"
        :player-vars="playerOptions"
        player-width="800"
        player-height="500"
        @ended="seenVideo = true"></youtube>
    </div>
  </div>
</template>

<script>
import { clone } from "lodash"
import Question from "./Question"

export default {
  name: "Chapter",
  components: { Question },
  props: {
    chapterId: {
      required: true,
      type: Number
    }
  },
  data() {
    return {
      loading: false,
      activeQuestion: 0,
      seenVideo: false,
      videoId: null,
      playerOptions: {
        start: 0,
        autoplay: 1
      },
      chapter: {},
      currentQuestion: {}
    }
  },
  created() {
    this.loadChapter()
  },
  methods: {
    loadChapter() {
      this.loading = true;
      try {
        this.$http.get(`/tutorial/capitulos/${this.chapterId}.json`)
          .then(
            response => {
              this.chapter = response.body;
              this.videoId = this.$youtube.getIdFromURL(this.chapter.link);
              this.currentQuestion = this.chapter.questions[0] || {};
            }
          )
          .catch(error => {
            console.log("error cargando chapter", error);
          })
          .finally(() => {
            this.loading = false;
          })
      } catch(error) {
        console.log("error 2 cargando chapter", error)
      }
    },
    nextQuestion(data) {
      console.log('nextQuestion', data);
      
      if (!data.answered) {
        if (!data.back) {
          this.$confirm('La respuesta no es correcta', {
            confirmButtonText: 'Volver a ver el video',
            cancelButtonText: 'Intentar nuevamente',
            center: true
          }).then(() => {
            this.seenVideo = false;
            this.currentQuestion = this.chapter.questions[0];
          })
        } else {
          this.seenVideo = false;
          this.currentQuestion = this.chapter.questions[0];
        }
      } else {
        this.$message.success("Correcto!");
        if (data.finished) {
          this.$emit('tutorial-finished');
        } else {
          if (this.chapterId == data.next_chapter) {
            this.currentQuestion = this.chapter.questions.find(q => q.id === data.next_question);
          } else {
            this.$emit('next-chapter', data.next_chapter);
          }
        }
      }
    }
  }
}
</script>
