<template>
  <div v-loading="loading" class="question">
    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <span style="font-size: 1.2em;">
          <strong>Pregunta: {{ question.description }}</strong>
        </span>
      </div>
      <div v-for="(answer, index) in question.answers" :key="'QA_'+ index" class="text item answer" @click="setAnswer(answer)">
        {{ answer }}
      </div>
      <div class="text item answer" @click="backToVideo">
        No lo se, volver al video
      </div>
    </el-card>
  </div>
</template>

<script>
import { clone } from "lodash"

export default {
  name: "Question",
  props: {
    questionData: {
      required: true,
      type: Object
    }
  },
  data() {
    return {
      loading: false,
      answered: false,
      finished: false,
      question: {}
    }
  },
  created() {
    this.question = clone(this.questionData);
  },
  methods: {
    setAnswer(value) {
      this.loading = true;
      try {
        let url = `/tutorial/capitulos/${this.question.chapter_id}/pregunta/${this.question.id}/validar`;
        let params = { chosen_answer: value };
        this.$http.post(url, params)
          .then(
            response => {
              this.answered = response.body.answered;
              this.finished = response.body.finished;
              this.$emit('next-question', response.body);
            }
          )
          .catch(error => {
            console.log("error cargando question", error);
          })
          .finally(() => {
            this.loading = false;
          })
      } catch(error) {
        console.log("error 2 cargando question", error)
      }
    },
    backToVideo() {
      const data = {
        answered: false,
        back: true
      };
      this.$emit('next-question', data);
    }
  }
}
</script>

<style lang="sass">
.question {
  width: 50%;
  margin: 20px auto;
  .answer {
    padding: 20px 0px;
    color: #00426A;

    &:hover {
      background-color: rgb(0,66,106);
      color: white;
      cursor: pointer;
    }
  }
}
</style>
