<template>
  <div>
    <div v-if="trips.length > 0">
      <el-table
        :data="trips"
        style="width: 100%">
        <el-table-column
          fixed
          prop="full_identification"
          label="Identificacion"
          width="180">
        </el-table-column>
        <el-table-column
          label="Modalidad"
          prop="trip_mode"
          width="160">
        </el-table-column>
        <el-table-column
          sortable
          sort-by="raw_datetime"
          label="Fecha/Hora"
          width="200">
          <template slot-scope="scope">
            <div>{{ scope.row.trip_date | time('dddd DD, MMMM') | titleize }}</div>
            <div>Hora Ida: <b>{{ scope.row.trip_hour }} hs</b></div>
            <div v-if="scope.row.return_time">Hora Retorno: <b>{{ scope.row.return_time }} hs</b></div>
          </template>
        </el-table-column>
        <el-table-column
          prop="passenger_name"
          label="Nombre"
          width="150">
        </el-table-column>
        <el-table-column
          label="Origen"
          min-width="150">
          <template slot-scope="scope">
            <div>{{ scope.row.address_origin | titleize }}</div>
            <div>{{ scope.row.city_origin }}, <b>{{ scope.row.state_origin | titleize }}</b></div>
          </template>
        </el-table-column>
        <el-table-column
          label="Destino"
          min-width="150">
          <template slot-scope="scope">
            <div>{{ scope.row.address_destination | titleize }}</div>
            <div>{{ scope.row.city_destination | titleize }}, <b>{{ scope.row.state_destination | titleize }}</b></div>
          </template>
        </el-table-column>
        <el-table-column
          fixed="right"
          label=""
          width="80">
          <template slot-scope="scope">
            <el-button
              @click.native.prevent="showTrip(scope.row.id)"
              size="small">
              Ver
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="separator"></div>
      <div class="table-footer">
        <el-pagination
          :total="pagination.totalEntries"
          :current-page="pagination.currentPage"
          :page-count="pagination.totalPages"
          :page-size="pagination.pageSize"
          :page-sizes="pagination.pageSizes"
          background
          layout="prev, pager, next, ->, jumper, sizes, total"
          @size-change="changeSize"
          @current-change="changePage"/>
      </div>
    </div>
    <div v-else>
      <p style="padding: 20px; background: #f5f5f5; border: solid 1px #ddd; border-radius: 5px; margin-top: 40px;">No hay datos disponibles</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "TripsTable",
  props: {
    trips: {
      type: Array,
      default: () => {
        return [];
      }
    },
    pagination: {
      type: Object,
      default: () => {
        return {
          pageSizes: [10, 20, 50, 100],
          pageSize: 10,
          offset: 0,
          currentPage: 1,
          totalEntries: 0,
          totalPages: 0
        }
      }
    }
  },
  methods: {
    showTrip(tripId) {
      this.$emit('showTrip', tripId);
    },
    changeSize(value) {
      this.$emit('changeSize', value);
    },
    changePage(value) {
      this.$emit('changePage', value);
    }
  }
}
</script>

<style>
.el-table td {
  vertical-align: baseline !important;
  padding: 12px 0px;
}
</style>