<template>
  <div v-loading="loading">
    <div v-if="dataLoaded">
      <div class="trips">
        <div class="table-header">
          <h2>
            Traslados
            <div class="controls">
              <el-select
                v-model="tripState"
                placeholder="Seleccionar estado"
                @change="search">
                <el-option
                  v-for="(value, key) in tripStates"
                  :key="key"
                  :label="value"
                  :value="key">
                </el-option>
              </el-select>
              <el-input
                v-model="criteria"
                style="width: 500px"
                placeholder="Buscar traslado"
                @keyup.enter.native="search">
                <el-button
                  slot="append"
                  icon="el-icon-search"
                  @click="search"/>
              </el-input>
              <el-button
                v-if="namespace == '/admin'"
                type="danger"
                @click.native.prevent="newTrip()">
                Nuevo
              </el-button>
            </div>
          </h2>
        </div>
        <trips-table
          :trips="trips"
          :pagination="pagination"
          @showTrip="(value) => showTrip(value)"
          @changePage="(value) => changePage(value)"
          @changeSize="(value) => changeSize(value)"
        />
      </div>
    </div>
    <div v-else>No se pudo cargar la lista de traslados</div>
  </div>
</template>

<script>
import TripsTable from "./Trips/TripsTable"

export default {
  name: "AdminTrips",
  components: { TripsTable },
  props: {
    namespace: {
      required: true,
      type: String
    }
  },
  data() {
    return {
      loading: false,
      dataLoaded: false,
      csrfToken: document.querySelector('meta[name="csrf-token"]').content,
      trips: [],
      tripStates: {
        pending:    "Pendiente",
        available:  "Disponible",
        unassigned: "Desasignado",
        to_confirm: "A confirmar",
        started:    "Iniciado",
        partial:    "Un tramo finalizdo",
        finished:   "Finalizado",
        audited:    "Auditado",
        completed:  "Completado"
      },
      tripState: "pending",
      criteria: "",
      pagination: {
        pageSizes: [10, 20, 50, 100],
        pageSize: 10,
        offset: 0,
        currentPage: 1,
        totalEntries: 0,
        totalPages: 0
      }
    }
  },
  created() {
    this.loadTrips()
  },
  methods: {
    loadTrips() {
      this.loading = true;
      try {
        console.log("Loading trips for", this.namespace);
        this.$http.get(`${this.namespace}/traslados.json?state=${this.tripState}&page=${this.pagination.currentPage}&criteria=${this.criteria}&limit=${this.pagination.pageSize}`)
          .then(
            response => {
              this.trips = response.data.trips;
              this.pagination.pageSize     = response.data.meta.per_page;
              this.pagination.currentPage  = response.data.meta.current_page;
              this.pagination.totalEntries = response.data.meta.total_entries;
              this.pagination.totalPages   = response.data.meta.total_pages;
              this.pagination.previousPage = response.data.meta.previous_page;
              this.pagination.nextPage     = response.data.meta.next_page;
              this.dataLoaded = true;
            }
          )
          .catch(error => {
            console.log("error cargando traslados", error);
          })
          .finally(() => {
            this.loading = false;
          })
      } catch(error) {
        console.log("error 2 cargando traslados", error)
      }
    },
    search() {
      this.criteria = this.criteria.toLowerCase();
      this.pagination.currentPage = 1;
      this.loadTrips();
    },
    changePage(value) {
      this.pagination.currentPage = value;
      this.loadTrips();
    },
    changeSize(value) {
      this.pagination.pageSize = value;
      this.loadTrips();
    },
    showTrip(tripId) {
      Turbolinks.visit(`${this.namespace}/traslados/${tripId}`);
    },
    newTrip() {
      Turbolinks.visit(`${this.namespace}/traslados/new`);
    }
  }
}
</script>
