<template>
  <div v-loading="loading">
    <div v-if="!finished" id="profile-form">
      <div v-if="dataLoaded">
        <el-row :gutter="20">
          <el-col :lg="8" :md="24" :sm="24">
            <div style="height: 500px;">
              <el-steps :active="activeChapter" direction="vertical" finish-status="success" style="padding: 10px 0px; background: #f2f2f2;" align-center>
                <el-step
                  v-for="chapter in chapters"
                  :key="'A_'+ chapter.id"
                  :title="chapter.title"></el-step>
              </el-steps>
            </div>
          </el-col>
          <el-col :lg="16" :md="24" :sm="24">
            <div v-for="(chapter, index) in chapters" :key="index">
              <div class="chapter step-panel" v-if="activeChapter == index">
                <chapter
                  :chapter-id="chapter.id"
                  @next-chapter="(data) => nextChapter(data)"
                  @tutorial-finished="tutorialFinished" />
              </div>
            </div>
          </el-col>
        </el-row>
      </div>
      <div v-else>No se pudo cargar los datos</div>
    </div>
    <div v-if="finished">
      <h2 style="text-align: center; padding: 20px;">{{ message }}</h2>
    </div>
  </div>
</template>

<script>
import { clone, findIndex } from "lodash"
import Chapter from "./Tutorial/Chapter"

export default {
  name: "Tutorial",
  components: { Chapter },
  data() {
    return {
      loading: false,
      finished: false,
      dataLoaded: false,
      activeChapter: null,
      message: "",
      chapters: []
    }
  },
  created() {
    this.loadChapters();
  },
  methods: {
    loadChapters() {
      this.loading = true;
      this.$http.get('/tutorial.json')
        .then(response => {
          this.chapters = response.body.chapters;
          if (response.body.current_chapter == null) {
            this.finished = true;
            this.message = "Ya completaste el tutorial, gracias!";
          } else {
            this.finished = false;
            this.activeChapter = this.chapterPosition(response.body.current_chapter);
          }
          this.dataLoaded = true;
          // console.log('loadChapters', this.activeChapter, this.chapters);
        })
        .catch(error => {
          if (error.status === 401) {
            Turbolinks.visit('/users/sign_in');
          } else {
            console.log("error cargando capitulos", error)
          }
        })
        .finally(() => {
          this.loading = false;
        });
    },
    chapterPosition(chapterId) {
      return findIndex(this.chapters, function(c) { return c.id == chapterId; });
    },
    nextChapter(chapterId) {
      this.activeChapter = this.chapterPosition(chapterId);
    },
    tutorialFinished() {
      this.message = "Gracias por completar el tutorial!";
      this.$message.success("Terminaste el tutorial!");
      this.finished = true;
    }
  }
}
</script>

<style>
.el-steps--simple {
  padding: 20px;
}
</style>
